@media (max-width:1280px) {
    main {
        width: 48rem;
        margin: 0 auto;
    }

    main header {
        width: 48rem;
    }

    main header .search {
        width: 44rem;
    }
    
    main .box {
        width: 48rem;
        padding: 3.5rem 2rem;
    }

    main .box .container {
        width: 48rem;
        padding: 0;
    }

    main .box .container .box-1 {
        width: 44rem;
        height: 15.5rem;
    }

    main .box .container .box .box-1 .active {
        width: 32.31rem;
    }

    main .box .container .box-1 .text .p-1 {
        font-size: 1.25rem;
    }
    
    main .box .container .box-1 .text .p-2 {
        font-size: 1rem;
        line-height: 1.6rem;
    }
}

@media (max-width:768px) {
    main {
        width: 23.4375rem;
        height: fit-content;
    }

    main header {
        width: 23.4375rem;
    }

    main header .search {
        width: 22rem;

    }
    
    main .box {
        width: 23.4375rem;
        padding: 3rem 1.5rem;
    }

    main .box .container {
        width: 23.4375rem;
        padding: 0;
    }

    main .box .container .box-1 {
        width: 20.4375rem;
        height: 22rem;
    }

    main .box .container .box .box-1 .active {
        width: 317.4375;
    }

    main .box .container .box-1 .text .p-1 {
        font-size: 1.25rem;
        line-height: normal;
    }
    
    main .box .container .box-1 .text .p-2 {
        font-size: 0.875rem;
        line-height: 1.3rem;
    }
}